KERNEL_SRC=/src/linux-dev

HPSIZE=2048

. setup_hugepage_migration_test.sh

DEFAULT_TEST_PREPARE=prepare_test
DEFAULT_TEST_CLEANUP=cleanup_test
DEFAULT_TEST_CONTROLLER=control_hugepage_migration
DEFAULT_TEST_CHECKER=check_hugepage_migration

TEST_TITLE="migratepages_shared"
EXPECTED_RETURN_CODE="START EXIT"
TEST_PROGRAM="${TESTALLOC} -m shared -h ${HPSIZE}"
TEST_CONTROLLER=control_migratepages
do_test_sync

TEST_TITLE="migratepages_shared_reserved"
EXPECTED_RETURN_CODE="START MIGRATION_FAILED EXIT"
TEST_PROGRAM="${TESTALLOC} -m shared -h ${HPSIZE}"
TEST_CONTROLLER=control_migratepages
TEST_PREPARE=prepare_test_reserve_hugepages
TEST_CLEANUP=cleanup_test_hog_hugepages
TEST_CHECKER=check_hugepage_migration_fail
do_test_sync

TEST_TITLE="migratepages_shared_allocated"
EXPECTED_RETURN_CODE="START MIGRATION_FAILED EXIT"
TEST_PROGRAM="${TESTALLOC} -m shared -h ${HPSIZE}"
TEST_CONTROLLER=control_migratepages
TEST_PREPARE=prepare_test_allocate_hugepages
TEST_CLEANUP=cleanup_test_hog_hugepages
TEST_CHECKER=check_hugepage_migration_fail
do_test_sync

TEST_TITLE="migratepages_private"
EXPECTED_RETURN_CODE="START EXIT"
TEST_PROGRAM="${TESTALLOC} -m shared -h ${HPSIZE}"
TEST_CONTROLLER=control_migratepages
do_test_sync

TEST_TITLE="migratepages_private_reserved"
EXPECTED_RETURN_CODE="START MIGRATION_FAILED EXIT"
TEST_PROGRAM="${TESTALLOC} -m private -h ${HPSIZE}"
TEST_CONTROLLER=control_migratepages
TEST_PREPARE=prepare_test_reserve_hugepages
TEST_CLEANUP=cleanup_test_hog_hugepages
TEST_CHECKER=check_hugepage_migration_fail
do_test_sync

TEST_TITLE="migratepages_private_allocated"
EXPECTED_RETURN_CODE="START MIGRATION_FAILED EXIT"
TEST_PROGRAM="${TESTALLOC} -m private -h ${HPSIZE}"
TEST_CONTROLLER=control_migratepages
TEST_PREPARE=prepare_test_allocate_hugepages
TEST_CLEANUP=cleanup_test_hog_hugepages
TEST_CHECKER=check_hugepage_migration_fail
do_test_sync

TEST_TITLE="migratepages_shared_reserved_overcommit"
EXPECTED_RETURN_CODE="START EXIT"
TEST_PROGRAM="${TESTALLOC} -m shared -h ${HPSIZE}"
TEST_CONTROLLER=control_migratepages
TEST_PREPARE=prepare_test_reserve_hugepages_overcommit
TEST_CLEANUP=cleanup_test_hog_hugepages_overcommit
do_test_sync

TEST_TITLE="migratepages_shared_allocated_overcommit"
EXPECTED_RETURN_CODE="START EXIT"
TEST_PROGRAM="${TESTALLOC} -m shared -h ${HPSIZE}"
TEST_CONTROLLER=control_migratepages
TEST_PREPARE=prepare_test_allocate_hugepages_overcommit
TEST_CLEANUP=cleanup_test_hog_hugepages_overcommit
do_test_sync

# mbind

TEST_TITLE="mbind_migration_shared"
EXPECTED_RETURN_CODE="START EXIT"
TEST_PROGRAM="${TESTMBIND} -m shared -h ${HPSIZE}"
TEST_CONTROLLER=control_mbind_migration
do_test_sync

TEST_TITLE="mbind_migration_shared_reserved"
EXPECTED_RETURN_CODE="START KILLED"
TEST_PROGRAM="${TESTMBIND} -m shared -h ${HPSIZE}"
TEST_CONTROLLER=control_mbind_migration
TEST_PREPARE=prepare_test_reserve_hugepages
TEST_CLEANUP=cleanup_test_hog_hugepages
do_test_sync

TEST_TITLE="mbind_migration_shared_allocated"
EXPECTED_RETURN_CODE="START KILLED"
TEST_PROGRAM="${TESTMBIND} -m shared -h ${HPSIZE}"
TEST_CONTROLLER=control_mbind_migration
TEST_PREPARE=prepare_test_allocate_hugepages
TEST_CLEANUP=cleanup_test_hog_hugepages
do_test_sync

TEST_TITLE="mbind_migration_private"
EXPECTED_RETURN_CODE="START EXIT"
TEST_PROGRAM="${TESTMBIND} -m private -h ${HPSIZE}"
TEST_CONTROLLER=control_mbind_migration
do_test_sync

TEST_TITLE="mbind_migration_private_reserved"
EXPECTED_RETURN_CODE="START KILLED"
TEST_PROGRAM="${TESTMBIND} -m private -h ${HPSIZE}"
TEST_CONTROLLER=control_mbind_migration
TEST_PREPARE=prepare_test_reserve_hugepages
TEST_CLEANUP=cleanup_test_hog_hugepages
do_test_sync

TEST_TITLE="mbind_migration_private_allocated"
EXPECTED_RETURN_CODE="START KILLED"
TEST_PROGRAM="${TESTMBIND} -m private -h ${HPSIZE}"
TEST_CONTROLLER=control_mbind_migration
TEST_PREPARE=prepare_test_allocate_hugepages
TEST_CLEANUP=cleanup_test_hog_hugepages
do_test_sync

# move_pages

TEST_TITLE="move_pages_shared"
EXPECTED_RETURN_CODE="START EXIT"
TEST_PROGRAM="${TESTMOVEPAGES} -m shared -h ${HPSIZE}"
TEST_CONTROLLER=control_move_pages
do_test_sync

TEST_TITLE="move_pages_shared_reserved"
EXPECTED_RETURN_CODE="START KILLED"
TEST_PROGRAM="${TESTMOVEPAGES} -m shared -h ${HPSIZE}"
TEST_CONTROLLER=control_move_pages
TEST_PREPARE=prepare_test_reserve_hugepages
TEST_CLEANUP=cleanup_test_hog_hugepages
do_test_sync

TEST_TITLE="move_pages_shared_allocated"
EXPECTED_RETURN_CODE="START KILLED"
TEST_PROGRAM="${TESTMOVEPAGES} -m shared -h ${HPSIZE}"
TEST_CONTROLLER=control_move_pages
TEST_PREPARE=prepare_test_allocate_hugepages
TEST_CLEANUP=cleanup_test_hog_hugepages
do_test_sync

TEST_TITLE="move_pages_private"
EXPECTED_RETURN_CODE="START EXIT"
TEST_PROGRAM="${TESTMOVEPAGES} -m private -h ${HPSIZE}"
TEST_CONTROLLER=control_move_pages
do_test_sync

TEST_TITLE="move_pages_private_reserved"
EXPECTED_RETURN_CODE="START KILLED"
TEST_PROGRAM="${TESTMOVEPAGES} -m private -h ${HPSIZE}"
TEST_CONTROLLER=control_move_pages
TEST_PREPARE=prepare_test_reserve_hugepages
TEST_CLEANUP=cleanup_test_hog_hugepages
do_test_sync

TEST_TITLE="move_pages_private_allocated"
EXPECTED_RETURN_CODE="START KILLED"
TEST_PROGRAM="${TESTMOVEPAGES} -m private -h ${HPSIZE}"
TEST_CONTROLLER=control_move_pages
TEST_PREPARE=prepare_test_allocate_hugepages
TEST_CLEANUP=cleanup_test_hog_hugepages
do_test_sync

# memory hotplug

TOTAL_HPS=$(grep HugePages_Total: /proc/meminfo | sed "s/HugePages_Total: *//")

# need to escape * from being extraced to file list
NR_FILLED_HPS=$(eval echo "$TOTAL_HPS \\* 80 / 100" | bc)

# These testcase takes longer if we have many hugeapges.
PIPETIMEOUT=30

TEST_TITLE="memory_hotremove_migration_shared"
EXPECTED_RETURN_CODE="START EXIT"
TEST_PROGRAM="${TESTHOTREMOVE} -m shared -n $NR_FILLED_HPS"
TEST_CONTROLLER=control_memory_hotremove_migration
TEST_CHECKER=check_memory_hotremove_migration
TEST_PREPARE=prepare_memory_hotremove_migration
TEST_CLEANUP=cleanup_memory_hotremove_migration
do_test_sync

TEST_TITLE="memory_hotremove_migration_private"
EXPECTED_RETURN_CODE="START EXIT"
TEST_PROGRAM="${TESTHOTREMOVE} -m private -n $NR_FILLED_HPS"
TEST_CONTROLLER=control_memory_hotremove_migration
TEST_CHECKER=check_memory_hotremove_migration
TEST_PREPARE=prepare_memory_hotremove_migration
TEST_CLEANUP=cleanup_memory_hotremove_migration
do_test_sync

PIPETIMEOUT=5

# race

TEST_TITLE="race_migratepages_and_map_fault_unmap"
EXPECTED_RETURN_CODE="START EXIT"
TEST_CONTROLLER=control_race_migratepages_and_map_fault_unmap
TEST_CHECKER=check_race_migratepages_and_map_fault_unmap
do_test_async

TEST_TITLE="race_move_pages_and_map_fault_unmap"
EXPECTED_RETURN_CODE="START EXIT"
TEST_CONTROLLER=control_race_move_pages_and_map_fault_unmap
TEST_CHECKER=check_race_move_pages_and_map_fault_unmap
TEST_PREPARE=prepare_race_move_pages_and_map_fault_unmap
TEST_CLEANUP=cleanup_race_move_pages_and_map_fault_unmap
do_test_async

TEST_TITLE="race_gup_and_migration"
TEST_PROGRAM="${MADVISE_ALL} -m shared -n $[HPNUM - 100] -h 2048"
TEST_PROGRAM="${MADVISE_ALL} -m shared -n 100 -h 2048"
EXPECTED_RETURN_CODE="START EXIT"
TEST_CONTROLLER=control_$TEST_TITLE
TEST_CHECKER=check_$TEST_TITLE
TEST_PREPARE=prepare_$TEST_TITLE
TEST_CLEANUP=cleanup_$TEST_TITLE
do_test_sync

# thp migration

. setup_thp_migration_test.sh

TEST_TITLE="thp_migration_auto_numa"
EXPECTED_RETURN_CODE="START EXIT"
NR_THPS=1
TEST_PROGRAM="${TESTALLOCTHP} -n $NR_THPS"
TEST_CONTROLLER=control_thp_migration_auto_numa
TEST_CHECKER=check_thp_migration_auto_numa
TEST_PREPARE=prepare_thp_migration_auto_numa
TEST_CLEANUP=cleanup_thp_migration_auto_numa
do_test_sync

TEST_TITLE="mlock_on_shared_thp"
EXPECTED_RETURN_CODE="START EXIT"
NR_THPS=2
TEST_PROGRAM="${TESTMLOCKONSHAREDTHP} -n $NR_THPS"
TEST_CONTROLLER=control_$TEST_TITLE
TEST_CHECKER=check_$TEST_TITLE
TEST_PREPARE=prepare_$TEST_TITLE
TEST_CLEANUP=cleanup_$TEST_TITLE
do_test_sync

TEST_TITLE="mprotect_on_shared_thp"
EXPECTED_RETURN_CODE="START EXIT"
NR_THPS=2
TEST_PROGRAM="${TESTMPROTECTONSHAREDTHP} -n $NR_THPS"
TEST_CONTROLLER=control_mprotect_on_shared_thp
TEST_CHECKER=check_mprotect_on_shared_thp
TEST_PREPARE=prepare_mprotect_on_shared_thp
TEST_CLEANUP=cleanup_mprotect_on_shared_thp
do_test_sync

TEST_TITLE="mprotect_on_shared_thp_unaligned"
EXPECTED_RETURN_CODE="START EXIT"
NR_THPS=2
TEST_PROGRAM="${TESTMPROTECTONSHAREDTHP} -u -n $NR_THPS"
TEST_CONTROLLER=control_mprotect_on_shared_thp
TEST_CHECKER=check_mprotect_on_shared_thp
TEST_PREPARE=prepare_mprotect_on_shared_thp
TEST_CLEANUP=cleanup_mprotect_on_shared_thp
do_test_sync
